<h1>
	The World of Fantasy Football At Your Fingertips
</h1>


<a href="/blogs/new">Create a new blog!</a>
<% @blogs.each do |blog| %>
  <div class="blog">
  	<h1><a href="/blog/<%= blog.id %>"><%= blog.title %></a></h1>
  	  <p><%= blog.contents %></p>
  </div>
<% end %>


<!-- 
	<%# @blogs.each do |x| %>
  	<div>
      <h1><%#= x.title   %> </h1>
   	  <p> <%#= x.contents %></p>
	<%#end%>
</div>

<%#


