
<h3>Add A Blog!</h3>

<form class="blog_blog_new" action="/blogs" method="POST">
  <label for="title">Title<br>
    <input type="text" name="blog[title]"></label><br>

 

    <label for="author">Author<br>
      <input Type="text" name="blog[author_id]">
      <label><br>

    <label for="content">Content<br>
      <input type="text" name="blog[content]"></br></label>

      <label for="posted_at">Date/Time<br>
        <input Type="timestamp" name="blog[posted_at]">
      </label><br>

      <input type="submit" name="submit">
    </form> 


    <!-- 
    <form class="blog_blog_new" action="/blogs" method="POST">
  <label for="title">Title<br> <input type="text" name="blog[title]">
  </label><br> -->