<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>FFlogger...The Fantasy Football Microblog</title>
</head>

<body>

<h1>FFlogger...The Fantasy Football Microblog</h1>

	<h1><a href="/"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ_ay4mhp7lRKaVK-cLuVUa2T9g4zkH6dQLSokilXHnJtm409JH"></a></h1>

	<div id="nav">
		<a href="/">Home</a>  |
		<a href="/authors">Authors</a>  |
		<a href="/blogs">Blogs</a>  |
		<a href="/tags">Tags</a>
	</div>
	<section id="main">
		<%=  yield  %> 
	</section>
</body>
</head>