<!-- 
<form class="tag tag-new" action="/tags" method="POST">
	<label for="tag[category]">Tag Category</label>
      <input type="text" name="tag[category]" value="<%= @tag.category %>">
      
      <select name="tag[category]">
        <% @tags.each #do |tag| %>
		  <option value="<%= tag.id %>"><%= tag.category %></option>
		<% #end %>
      </select>
      <input type="submit" name="submit">
    </form>
 -->