
<form class="author edit" action="/authors" method="POST">
      <input type="text" name="author[name]" value="<%= @author.name %>">
      <input type="text" name="author[avatar]" value="<%= @author.avatar %>">
      <input type="submit" name="submit">
    </form>





<!-- 
<,<h2>Edit Author Info</h2>
<form action="/author/<%= @author.id %>" method="POST">
</form>

<label for="authors">Authors<br> 
	<select name="author[id]"
</label>





<form action="/authors/<%= @author.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
		<button>DELETE</button>
	</form> -->