
<p><a href="/authors/"/>Featured Bloggers</a></p>


<% @authors.each do |author| %>
<h2><a href="/authors/<%= author.id %>"><%= author.name %></a></h2>
<img src="<%= author.avatar %>">
<% end %>

		
