show.erb

<h1><%= @author.name %></h1>
<p><img src="<%= @author.img_url %>" width =100 ></p>







<!-- CREATE TABLE authors (
id SERIAL PRIMARY KEY,
name VARCHAR (255),
img_url text,
posted_at timestamp
); -->