
<p><a href="/author/new">Become a FFlogger</a>
</p>  <% @authors.each do |author|  %>
	<div class="author all">
		<h1><%= author.name %></h1>
			<p><img src="<%= @author.img_url %>" width =400 ></p>

		<p>
		 <a href="/authors/<%= author.id%>"></a>
		</p>
	</div>
<% end %>





<!-- CREATE TABLE authors (
id SERIAL PRIMARY KEY,
name VARCHAR (255),
img_url text,
posted_at timestamp
); -->